<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <title>Runner</title>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            {% if "manager" in session %}
            <a class="navbar-brand" href="/">(Admin) Property Runner</a>
            {% else %}
            <a class="navbar-brand" href="/">Property Runner</a>
            {% endif %}
          </div>

          <ul class="nav navbar-nav">
            {% if "manager" in session %}
            <li><a href="/logout">Log Out</a></li>
            <li class="active"><a href="/">Home</a></li>
            <li><a href="{{ url_for('properties.vacant_units') }}" >Vacant Units</a></li>
            <li><a href="/create_runner">Create Runner</a></li>
            <li><a href="#">Page 3</a></li>

            {% elif "runner" in session %}
            <li><a href="/logout">Log Out</a></li>
            <li class="active"><a href="/">Home</a></li>
            <li><a href="{{ url_for('properties.vacant_units') }}" >Vacant Units</a></li>

            {% else %}
            <li><a href="/runner_login">Runner Login</a></li>
            <li><a href="/manager_login">Manager Login</a></li>
            {% endif %}
          </ul>
        </div>
      </nav>
    {% block content %}
    {% endblock %}
</body>
</html>