{% extends 'base.html' %}
{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages %}
    {% for msg in messages %}
        <p>{{ msg }}</p>
    {% endfor %}
{% endif %}
{% endwith %}

    <h1>Create a Runner account</h1>
    <form method="post">
        <input type="text" placeholder="Email" name="email">
        <input type="password" placeholder="Password" name="password">
        <input type="text" placeholder="First Name" name="first_name">
        <input type="text" placeholder="Last Name" name="last_name">
        <input type="submit" value="Create Account">
    </form>
{% endblock %}