{% extends 'base.html' %}
{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
   {% if messages %}
   {% for category, message in messages %}
   <div class="alert alert-{{ category }}">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
    {% endfor %}
  {% endif %}
 {% endwith %}

 <div class="add-container-container">
  <div class="addrun-container">
    <h1>Create a Runner account</h1>
    <form class="runner-form" method="post">
      <input type="text" placeholder="Email" name="email"><br>
      <input type="password" placeholder="Password" name="password"><br>
      <input type="text" placeholder="First Name" name="first_name"><br>
      <input type="text" placeholder="Last Name" name="last_name"><br><br><br>
      <input class="submit-button-runner" type="submit" value="Create Account">
    </form>
  </div>
 </div>
{% endblock %}