{% extends 'base.html' %}
{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages %}
    {% for msg in messages %}
        <p>{{ msg }}</p>
    {% endfor %}
{% endif %}
{% endwith %}

    <h1>Home</h1>
    <a href="{{ url_for('properties.vacant_units') }}" >View Vacant Units</a>

    <div class="home-container-container">
        <div class="home-dashboard">
            <div>
                <h5 class="dashboard-title">Leasing Pictures:</h5>
            </div>
            <div>
                <h5 class="dashboard-title">Unit Checks:</h5>
            </div>
            <div>
                <h5 class="dashboard-title">Tasks:</h5>
            </div>
        </div>
    </div>
        
{% endblock %}