{% extends 'base.html' %}
{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
   {% if messages %}
   {% for category, message in messages %}
   <div class="alert alert-{{ category }}">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
    {% endfor %}
  {% endif %}
 {% endwith %}

 <div class="add-container-container">
  <div class="addrun-container">
    <h1>Runner Log In</h1>
    <form class="runner-form" method="post">
        <input type="text" name="email" placeholder="Email"><br>
        <input type="password" name="password" placeholder="Password"><br><br>
        <input class="login-button" type="submit" value="Login" >
    </form>
  </div>
 </div>
{% endblock %}