body {
    margin: 1px;
    padding: 0;
    color: rgb(0, 0, 0);
    background-color: rgb(238, 238, 238);
}

.property-info-container-container {
    display: flex;
    justify-content: center;
}

.property-info-container {
    display: flex;
    width: 900px;
    padding: 10px;
}

.property_info {
    display: flex;
    background-color: rgb(197, 193, 193);
    width: 100vw;
    height: 303px;
    text-align: center;
    flex-direction: column;
    border: 2px solid black;
}

.image_container {
    display: flex;
    justify-content: flex-start;
    position: absolute;
    align-items: flex-start;
}

.property_img {
    background-color: rgb(109, 99, 182);
    padding: 10px;
    position: absolute;
    left: 0;
    width: 300px;
}

.property_details {
    font-size: 15px;
}

.expand_view {
    font-size: 25px;
    border-bottom: 2px solid black;
    padding: 5px;
    background-color: aliceblue;
    color: black;
}

.expand_view:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(204, 212, 220);
    text-decoration: none;
}

/* PROPERTY DETAILS */
.details-container-container {
    display: flex;
    justify-content: left;
    align-items: center;
}

.details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1000px;
    height: 900px;
    border: 2px solid black;
    background-color: rgb(197, 193, 193);
    left:10px;
}

.details-text-container {
    position: absolute;
    background-color: rgb(156, 156, 156);
    right: 540px;
    top: 150px;
    width: 460px;
}

.details-img {
    position: absolute;
    width: 500px;
    left: 2px;
    border: 3px solid black;
}

.details-text {
    font-size: 18px;
}

.form-container {
    position: relative;
    bottom: -505px;
    width: 100%;
    height: 390px;
    background-color: rgb(156, 156, 156);
    padding: 12px;
}

.form-text {
    font-size: 18px;
}

.task-check {
}

.task-container {
    position: absolute;
    right: 176px;
    top: 17px;
}

.task-header {
    font-size: 30px;
    font-weight: bolder;
}

.submit-button {
    position: absolute;
    border: 3px solid rgb(109, 99, 182);
    background-color: rgb(193, 188, 228);
    width: 500px;
    height: 60px;
    bottom: 3px;
    right: 260px;
    font-weight: bold;
}

.unit-details-pictures {
    width: 350px;
}

.unit-details-pictures-container {
    background-color: aliceblue;
}

/* HOMEPAGE */
.home-container-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-dashboard {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    width: 900px;
    height: 400px;
    border: 2px solid black;
    background-color: rgb(197, 193, 193);
}

.dash-list-box {
    border: 1px dotted black;
    height: 100%;
    width: 100%;
}

.dashboard-title {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
}

.dashboard-text {
    font-size: 15px;
    color: black;
    text-align: left;
}

.to-do {
    font-size: 22px;
    text-align: center;
}

