{% extends 'base.html'%}
{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
   {% if messages %}
   {% for category, message in messages %}
   <div class="alert alert-{{ category }}">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
    {% endfor %}
  {% endif %}
 {% endwith %}

<div class="add-container-container">
  <div class="add-container">

    <div class="add-title-container">
      <h1 class="add-title">Add Unit</h1>
    </div>

    <div class="add-form-container">
      <form method="post" enctype="multipart/form-data">
        <p class="form-text-add" >Select from existing addresses:</p>
        <select name="address" id="address">
          <option value="">Existing Addresses</option>
          {% for property in properties %}
          <option value="{{ property }}">{{ property }}</option>
          {% endfor %}
        </select><br><br>
        <p class="form-text-add-or" >-OR-</p>
        <p class="form-text-add" >Add a new address:</p>
        <input class="add-input" type="text" name="new_address" placeholder="New Address"><br><br>
        <p class="form-text-add">Insert Info:</p>
        <input class="add-input" type="text" name="unit" placeholder="Unit Number"><br>
        <input class="add-input" type="text" name="city" placeholder="City"><br>
        <input class="add-input" type="text" name="state" placeholder="State" maxlength="15"><br>
        <input class="add-input" type="text" name="zipcode" placeholder="Zipcode" maxlength="5"><br>
        <p class="form-text-add" >Move Out Date:</p>
        <input class="add-input" type="datetime-local" name="date" placeholder="Date Vacated"><br><br>
        <label class="form-text-add" for="cover">Upload Cover Photo</label>
        <input type="file" name="cover" id="cover" accept="image/*"><br>
    <label class="form-text-add" for="runner">Assign Runner</label>
    <select name="runner" id="runner">
      <option value="auto">Auto Assign</option>
      {% for runner in runners %}
      <option value="{{ runner.first_name }}_{{ runner.last_name }}">{{ runner.first_name }} {{ runner.last_name }}</option>
      {% endfor %}
    </select>
    <br><br><input class="submit-button-add" type="submit" value="Add Unit">
  </form>
</div>

</div>
</div>
    {% endblock %}