{% extends 'base.html' %}
{% block content %}
<div class="title-container-container">
    <div class="title-container">
        <h1 class="page-title">Past Units</h1>
        <form method="POST">
            <select class="sort-selections" name="sort">
                <option value="runner">Runner</option>
                <option value="address">Address</option>
                <option value="zipcode">Zipcode</option>
            </select>
            <input class="sort-submit-button" type="submit" value="Sort">
        </form>
    </div>
</div>
    {% if not properties %}
    <div class="none-container-container">
        <div class="none-container">
            <p>No Properties To Display</p>
        </div>
    </div>
    {% endif %}
    {% for property in properties %}
    <div class="property-info-container-container">
        <div class="property-info-container">
            <div class="property_info">
            <div class="image_container">
                <a href="/past_units/{{ property.property_id }}"><img class="property_img" src="{{ property.cover }}"></a><br>
            </div>
            <a class="expand_view" href="/past_units/{{ property.property_id }}">Expand View</a>
            <p class="property_details-past">ADDRESS: <span style="font-weight:bold;color: rgb(61, 61, 61);">{{ property.address }}</span> UNIT: <span style="font-weight:bold;color: rgb(61, 61, 61);">{{ property.unit }}</span></p>
  

            {% for runner in runners %}
                {% if runner.runner_id == property.runner_id %}
                <p class="property_details">RUNNER: {{ runner.first_name }} {{ runner.last_name }}</p>
                {% endif %}
                {% endfor %}
                
            </div>
        </div>
    </div>
    {% endfor %}

{% endblock %}