{% extends 'base.html' %}
{% block content %}
    <h1>Details</h1>
    <img src="{{ unit.cover }}">
    <p>ADDRESS: {{ unit.address }}</p>
    <p>UNIT: {{ unit.unit }}</p>
    <p>RUNNER: {{ runner.first_name }} {{ runner.last_name }}</p>

    {% if "manager" in session %}
    <form method="post">
        <input type="submit" value="Mark As Occupied">
        <select name="runner" id="runner">
            {% for runner in managed_runners %}
            <option value="{{ runner.first_name }}_{{ runner.last_name }}">{{ runner.first_name }} {{ runner.last_name }}</option>
            {% endfor %}
        </select>
    </form>
    {% endif %}

{% endblock %}