{% extends 'base.html' %}
{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
   {% if messages %}
   {% for category, message in messages %}
   <div class="alert alert-{{ category }}">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
    {% endfor %}
  {% endif %}
 {% endwith %}

<div class="details-container-container">
    <div class="details-container">
        <img src="{{ unit.cover }}" class="details-img">
        <div class="details-text-container">
            <p style="font-size: 30px; text-align: center; font-weight: bold">{{ unit.address }}</p>
            <p class="details-text">UNIT: {{ unit.unit }}</p>
            <p class="details-text">DAYS VACANT: {{ days_vacant }}</p>
            <p class="details-text">RUNNER: {{ runner.first_name }} {{ runner.last_name }}</p>

            {% if unit.unit_check_done == True %}
            <p class="details-text">UNIT CHECK: <span style="color: rgb(6, 82, 11); font-weight:bold">Complete</span></p>
            {% else %}
            <p class="details-text">UNIT CHECK: <span style="color: rgb(143, 11, 11); font-weight: bold">Incomplete</span></p>
            {% endif %}

            {% if unit.leasing_pics_taken == True %}
            <p class="details-text">LEASING PICTURES: <span style="font-weight:bold;color: rgb(6, 82, 11);">Complete</span></p>
            {% else %}
            <p class="details-text">LEASING PICTURES: <span style="font-weight:bold;color: rgb(143, 11, 11);">Incomplete</span></p>
            {% endif %}
        </div>
        <div class="form-container">
            <h6 class="task-header">Runner Tasks:</h6>
            <form method="post" id="occupied_form" enctype="multipart/form-data">
                {% if "manager" in session %}
                <label class="form-text" for="task">Add Task</label>
                <input type="text" name="task" id="task" placeholder="New Task"><br>
                
                <label class="form-text" for="occupied">(Admin) Move In Complete</label>
                <input type="checkbox" name="occupied" id="occupied"><br>
                
                <label class="form-text" for="runner">(Admin) Reassign Runner</label>
                <select name="runner" id="runner">
                    {% for runner in managed_runners %}
                    <option value="{{ runner.runner_id }}">{{ runner.first_name }} {{ runner.last_name }}</option>
                    {% endfor %}
            </select><br>
            {% endif %}
            
            {% if unit.leasing_pics_taken == True %}
            <label class="form-text" for="leasing_pics" style="text-decoration: line-through">Leasing Pictures Taken</label>
            <input type="checkbox" name="leasing_pics" id="leasing_pics" checked><br>
            {% else %}
            <label class="form-text" for="leasing_pics">Leasing Pictures Taken</label>
            <input class="task-check" type="checkbox" name="leasing_pics" id="leasing_pics"><br>
            {% endif %}
            
            {% if unit.unit_check_done == True %}
            <label class="form-text" for="unit_check" style="text-decoration: line-through">Unit Check Complete</label>
            <input type="checkbox" name="unit_check" id="unit_check" checked><br>
            {% else %}
            <label class="form-text" for="unit_check">Unit Check Complete</label>
            <input type="checkbox" name="unit_check" id="unit_check"><br>
            {% endif %}
            
            <div class="task-container">
                <h6 class="task-header">Additional Tasks:</h6>
                {% for task in tasks %}
                {% if task.completed == False %}
                <label class="form-text" for="{{ task.task }}">{{ task.task }}</label>
                <input type="checkbox" name="task{{ task.task_id }}" id="task{{ task.task_id }}"><br>
                {% else %}
                <label class="form-text" for="{{ task.task }}" style="text-decoration: line-through">{{ task.task }}</label>
                <input type="checkbox" name="task{{ task.task_id }}" id="task{{ task.task_id }}" checked><br>
                {% endif %}
                {% endfor %}
            </div>
            <input class="submit-button" type="submit" value="Update Unit" id="update_unit">

            <br><label class="form-text" for="files">Upload Pictures</label>
            <input type="file" id="picture" name="picture" accept="image/*">
        </form>
        </div>
    </div>
</div>

<div class="unit-details-pictures-container">
    {% for pic in property_pics %}
    <img src="{{ pic.picture }}" class="unit-details-pictures">
    <form method="post" action="/delete_pic/{{ pic.picture_id }}">
        <input type="submit" value="delete">
    </form>
    {% endfor %}
</div>

    
    <!-- {% if "manager" in session %}
    <form method="post" onsubmit="set_occupied()" id="occupied_form">
        <div style='display:none;'>
            <input type="text" value="" id="is_occupied" placeholder="test" name="is_occupied">
        </div>
        <input type="submit" value="Mark As Occupied" id="occupied">
    </form>

    <form method="post" onsubmit="reassign_runner()" id="change_runner_form">
        <select name="runner" id="runner">
            {% for runner in managed_runners %}
            <option value="{{ runner.first_name }}_{{ runner.last_name }}">{{ runner.first_name }} {{ runner.last_name }}</option>
            {% endfor %}
        </select>
        <div style="display:none;">
            <input type="text" value="" id="leasing_pics_taken">
        </div>
        <input type="submit" value="Reassign Runner" id="listed">
    </form>
    {% endif %} -->

    
    
    <!-- <script type="text/javascript">
        
        function set_occupied() {
            var is_occupied = document.getElementById('is_occupied')
            var occupied_form = document.getElementById('occupied_form')
            is_occupied.value = "occupied"
        };
        
            function reassign_runner() {
                var runner_set = document.getElementById('runner_set')
                var change_runner_form = document.getElementById('change_runner_form')
                runner_set.value = "runner_assigned"
            };
        
        </script> -->
        {% endblock %}